.container{
    width: 1170px;
    margin:0 auto;
    
}

.relation{
    display: inline-block;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 20px rgba(0,0,0,0.47); 
box-shadow: 5px 5px 15px 20px rgba(0,0,0,0.47); 

}

.absolutli{ 

    display: inline-block;
    position: absolute;
    left: 60%;
    margin-top: 300px;


}

    





